
#chat-box {
  position:fixed;
  bottom:0;
  width:80%;
}

#chat-log {
  overflow-y:scroll;
  padding-bottom: 60px;
}

#chat-send-button {
  position:fixed;
  bottom:0;
  right:10px;
}

.chat-username-column {
  left:20%;
}

.chat-body-column {
  right:80%;
}

