/* CSS declarations go here */
.node {
  	stroke: #000;
  	stroke-width: 1.5px;
}

.link {
	stroke: #000;
  	stroke-width: 1.5px;
}

.selected {
	fill: yellow;
}

/* FIXME - doesn't work?? */
#graph {
	width: 1200;
	height: 500;
}