/* CSS declarations go here */
.node {
  	stroke: #000;
  	stroke-width: 1.5px;
}

.link {
	stroke: #000;
  	stroke-width: 1.5px;
}

.selected {
	fill: yellow;
}

#graph {
	width: 400;
	height: 400;
	
}