

 <canvas id="graphcanvas"></canvas>
 <!--canvas id="springydemo"></canvas-->


 <div id="point-window">
 	<p>User: {{selected.username}}</p>
 	<!--p>id: {{selected.point_id}}</p>
 	<p>parent id: {{selected.parent_id}}</p-->
 	<p>net assent: {{selected.value}}</p>
 	<p>flavor: {{selected.flavor}}</p>
 	<p>text: {{selected.text}}</p>
 
 </div>

 <div id="submit-window">
		 <p float='right'> parent id:  </p>
	 <input type="text" ng-model="username" size="30" placeholder="username">
	 <!--select ng-model="parent_id" ng-options='point.point_id as point.point_id for point in points'></select-->
	 <textarea class='text-submit' ng-model="text" placeholder="text body"></textarea>
	 <select ng-model='flavor' ng-options='flavor as flavor for flavor in flavors'></select>
	 <select ng-hide="flavor != 'link'" ng-model='links[0]' ng-options='point.point_id as point.point_id for point in points'> </select>
	 <select ng-hide="flavor != 'link'" ng-model='links[1]' ng-options='point.point_id as point.point_id for point in points'> </select>

	 <button ng-click='submit()'>Send</button>

 </div>

 <button id='reset' ng-click='reset()'>reset</button>