/* CSS declarations go here */

/* UNIVERSAL */
.bordered {
	border: 1px solid;
}
.red{
	background-color: #FF9966
}

.green{
	background-color: #99FF66
}

.white{
	background-color: #F1F1F2
}
.center{
	margin-left: auto;
    margin-right: auto;
    width: 60%;
}

/* FRONT PAGE */
#centerImg {
  margin: 10px;
}

.logo-img {
	width: 15%;
}
.logo {
	margin-left: 370px
}
.nav-links {
	margin: 0 2rem;
	float: left;
}

#informative-wrapper {
	margin:50px;
}

.bbpar {
	margin-top: 8px;
}

.bbtext {
	margin: 5px;
}

.bbdate {
	font-weight: bold;
}

.bbpost {
	margin: 10px;
	margin-top: 30px;
}

.bbwrapper {
	margin: 50px;
}

.knowledge {
	padding: 10px;
	margin: 15px;
	background: #f5f5f5;
	background: -moz-linear-gradient(top,  #f5f5f5 0%, #efefef 100%); /* FF3.6+ */
	background:     -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f5f5f5 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
	background:      -ms-linear-gradient(top,  #f5f5f5 0%,#efefef 100%); /* IE10+ */
	background:       -o-linear-gradient(top,  #f5f5f5 0%,#efefef 100%); /* Opera 11.10+ */
	background:          linear-gradient(top,  #f5f5f5 0%,#efefef 100%); /* W3C */
	-pie-background:     linear-gradient(top,  #f5f5f5 0%,#efefef 100%);
	border-radius: 7px;
	border:1px solid #d8d8d8;
}

/* GRAPH AND SUBMISSION FORMS*/
#graphcanvas {
	position:relative;
	border-color:black;
	border:1px solid;
}
.node {
  	stroke: #000;
  	stroke-width: 1.5px;
  	fill: #ccc;
}

.unread {
	stroke:#0000ff;
}

#edges {
  	stroke-width: 3px;
}

.comment-edge {
	stroke: #000;
}

.agreement-edge {
	stroke: #009933;
}

.agreement-select {
	background-color: #009933;
	color: #FFF;
}

.disagreement-select {
	background-color: #CC0000;
	color: #FFF;
}

.quote-select {
	background-color: #DAA520;
	color: #FFF;
}

.disagreement-edge {
	stroke: #CC0000;
}

.quote-edge {
	stroke: #4c4c4c;
}

.highlighted {
	stroke: #FFFF00;
}

select:hover {
	background-color: #999;
	color: #FFF;
}
/*
	Refers to the lines showing arrow direction
	We this as a unique ID so tick() doesn't
	get confused.
*/
#potential-edge {
	stroke: #0000FF;
  	stroke-width: 1.5px;
}

.selected {
	fill: red;
}

/* FIXME - doesn't work?? */
#graph {
	/*width: 1200;
	height: 500;*/
}

#discussion-floatbar {
	margin-left:auto;
	margin-right:auto;
}

#nodeviewer {
	position:absolute;
	right:2%;
	top:5%;
	left:70%;
	bottom:50%;

	border-color:black;
	border:1px solid;
	overflow-y:auto;
	z-index:1;
}

.viewer-padding {
	position:relative;
	margin-left:20px;
	margin-right:20px;
	bottom:20px;
	top:20px;
	z-index: 1;
	background-color:white;
	overflow:hidden;
}

#submitbox {
	position:absolute;

	right:2%;
	top:52%;
	left:70%;
	bottom:2%;
	background-color: white;
	border-color:black;
	border:1px solid;
	z-index:1;
	opacity:.9;
	overflow-y:auto;
}
#reset {
	position:absolute;
	right:2%;
	bottom:2%;
}

