<!DOCTYPE html>
<html ng-app='rhombus'>
	<head>

		<link href='stylesheets/style.css' rel='stylesheet' />
		<script src='bower_components/socket.io-client/dist/socket.io.js'></script>
		<script src='bower_components/angular/angular.js'></script>
		<script src='bower_components/jquery/dist/jquery.min.js'></script>
		<script src='bower_components/springy/springy.js'></script>

		<script src='javascripts/springyui-custom.js'></script>
		<script src='javascripts/components.js'></script>
		<script src='javascripts/rhombus.js'></script>

	</head>

	<body>
		<div ng-controller='viewTreeCtrl'> 


			 <canvas id="springydemo" ></canvas>
			 <!--canvas id="springydemo"></canvas-->


			 <div id="gram-window">
			 	<p>User: {{grams[selected].username}}</p>
			 	<p>id: {{grams[selected].gram_id}}</p>
			 	<p>parent id: {{grams[selected].parent_id}}</p>
			 	<p>net assent: {{grams[selected].value}}</p>
			 	<p>flavor: {{grams[selected].flavor}}</p>
			 	<p>text: {{grams[selected].text}}</p>
			 	<p>children: {{grams[selected].children}}</p>
			 	<p>links: {{grams[selected].links}}</p>
			 

			 </div>

			 <div id="submit-window">
 				 <p float='right'> parent id: {{parent_id}} </p>
				 <input type="text" ng-model="username" size="30" placeholder="username">
				 <!--select ng-model="parent_id" ng-options='gram.gram_id as gram.gram_id for gram in grams'></select-->
				 <textarea class='text-submit' ng-model="text" placeholder="text body"></textarea>
				 <select ng-model='flavor' ng-options='flavor as flavor for flavor in flavors'></select>
				 <select ng-hide="flavor != 'link'" ng-model='links[0]' ng-options='gram.gram_id as gram.gram_id for gram in grams'> </select>
				 <select ng-hide="flavor != 'link'" ng-model='links[1]' ng-options='gram.gram_id as gram.gram_id for gram in grams'> </select>

				 <p> {{links}} </p>
				 <button ng-click='submit()'>Send</button>

			 </div>

			 <button id='reset' ng-click='reset()'>reset</button>

		</div>
		<script src='javascripts/resizecanvas.js'></script>
	</body>
</html>