
#discussion-floatbar{
	margin-left:auto;
	margin-right:auto;
}

.point-window
{
	position:absolute;
	right:2%;
	top:2%;
	left:70%;
	bottom:50%;
	
	border-color:black;
	border:1px solid;
	overflow-y:auto;
	z-index:1;	
	opacity:.9;

}

.point-window .padding
{
	position:relative;
	margin-left:20px;
	margin-right:20px;
	bottom:20px;
	top:20px;
	z-index: 1;
	background-color:white;
	overflow:hidden;
}

#submit-window
{
	position:absolute;
	
	right:2%;
	top:52%;
	left:70%;
	bottom:2%;
	background-color: #F1F1F2;
	border-color:black;
	border:1px solid;
	z-index:1;
	opacity:.9;
	overflow-y:auto;
}

#graphcanvas{
	position:relative;
	border-color:black;
	border:1px solid;
}

#reset{
	position:absolute;
	right:2%;
	bottom:2%;
}

.red{
	background-color: #FF9966
}

.green{
	background-color: #99FF66
}

.white{
	background-color: #F1F1F2
}
