<template name="forumview">
  {{#with root}}
    {{> forumviewPost}}
  {{/with}}
</template>

<template name="forumviewPost">
  <div>
    <div class="knowledge">
      <div class="forumview-post-padding {{backgroundColor _id}}">
        <div class="post-infobox">
          {{#if user}}
            <a href="/user/{{username}}"> {{username}} </a>
          {{else}}
            {{username}}
          {{/if}}
          <span style="color:{{color value}}">({{value}})</span> {{time timestamp}}
        </div>
        <div class="post-body">
          {{body}}
        </div>
      </div>
      <div class="post-utilities">
        {{#if isCommenting _id}}
          <span class="post-closebutton" id="closebutton-{{_id}}">Close</span>
        {{else}}
          <span class="post-replybutton" id="replybutton-{{_id}}">Reply</span>
        {{/if}}
      </div>
      {{#if isCommenting _id}}
        <div class="forumview-post-wrapper">
          <textarea id="forumview-textbox-{{_id}}"></textarea>
          <div class="post-type-selector-wrapper">
            <select id="forumview-edge-type">
              <option class="comment-select" value="comment"> comment </option>
              <option class="disagreement-select" value="disagreement"> disagreement </option>
              <option class="agreement-select" value="agreement"> agreement </option>
              <option class="quote-select" value="quote"> quote </option>
            </select>
          </div>

          <button class="forumview-submit" id="forumview-submit-{{_id}}">Submit</button>
        </div>
      {{/if}}
      {{#each children}}
        {{> forumviewPost}}
      {{/each}}
    </div>
  </div>

</template>