<template name="forumview">
  {{#with root}}
    {{> forumviewPost}}
  {{/with}}
</template>

<template name="forumviewPost">
  <div>
    <div class="knowledge">
      <div class="forumview-post-padding">
        <div class="post-infobox">
          {{#if user}}
            <a href="/user/{{username}}"> {{username}} </a>
          {{else}}
            {{username}}
          {{/if}}
          <span style="color:{{color value}}">({{value}})</span> {{time timestamp}}
        </div>
        <div class="post-body">
          {{body}}
        </div>
      </div>
      <div class="post-utilities">
        {{#if isCommenting _id}}
          <span class="post-closebutton" id="closebutton-{{_id}}">Close</span>
        {{else}}
          <span class="post-replybutton" id="replybutton-{{_id}}">Reply</span>
        {{/if}}
      </div>
      {{#if isCommenting _id}}
        CommentBox!
      {{/if}}
      {{#each children}}
        {{> forumviewPost}}
      {{/each}}
    </div>
  </div>

</template>